---
import Icon from "$/components/icon.astro";

type Props = {
  label?: string;
  icon?: string;
  href?: string;
  variant: "solid" | "text" | "white";
};

const { label, icon, variant } = Astro.props;

const VARIANTS = {
  solid: "bg-primary text-midnight-abyss rounded-lg",
  text: "text-slate-dusk",
  white: "bg-white text-midnight-abyss",
};
---

<button class:list={["flex items-center px-5.25 py-2.75", VARIANTS[variant]]}>
  {
    icon ? (
      <>
        <span>{label}</span>
        <Icon src={icon} />{" "}
      </>
    ) : (
      label
    )
  }
</button>
