---
import Icon from "$/components/icon.astro";

type Props = {
  label?: string;
  icon?: string;
  href?: string;
  variant: "solid" | "text" | "white";
  class?: string;
};

const { label, icon, variant } = Astro.props;

const VARIANTS = {
  solid: "bg-primary",
  text: "text-gray-600 hover:bg-gray-200",
  white: "bg-white text-gray-900",
};
---

<button
  class:list={[
    "flex items-center justify-center gap-1.5 h-10 px-3 text-sm font-semibold cursor-pointer rounded-lg transition-colors",
    VARIANTS[variant],
    Astro.props.class,
  ]}
>
  {
    icon ? (
      <>
        <Icon src={icon} class:list="size-5" />
        <span>{label}</span>
      </>
    ) : (
      label
    )
  }
</button>
