---
type Props = {
  value: number;
  label: string;
  class?: string;
};

const { value, label } = Astro.props;
---

<div data-aos="count" class:list={["flex", Astro.props.class]}>
  <span>{label}</span>
</div>

<style define:vars={{ count: value }}>
  @property --num {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
  }

  div {
    transition: --num 4000s;
    counter-set: num var(--num);

    &.aos-animate {
      --num: var(--count);
    }

    &::before {
      content: counter(num);
    }
  }
</style>
