---
import CardSolution from "$/components/card-solution.astro";
import type { SectionSolutions } from "$/types/strapi.type";

type Props = SectionSolutions;

const { solutions = [] } = Astro.props;
---

<section class:list={["max-w-330 mx-auto px-4 mt-12 grid grid-cols-1 gap-8", "md:grid-cols-3"]}>
  {solutions.map((solution) => <CardSolution {...solution} />)}
</section>
