---

---

<span
  class:list={[
    "text-primary",
    "md:px-4 md:py-1 md:rounded-lg md:border-gray-900 md:inline-block md:leading-normal",
    "md:relative",
    "[&>svg]:absolute [&>svg]:hidden",
    "md:[&>svg]:block",
  ]}
>
  <slot />

  <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg" class="-top-3 -left-3">
    <path
      d="M10.5879 1.0021C10.5879 0.111198 9.51075 -0.334967 8.88078 0.294998L4.40606 4.76972L0.294976 8.88081C-0.334989 9.51077 0.111177 10.5879 1.00208 10.5879L9.58789 10.5879C10.1402 10.5879 10.5879 10.1402 10.5879 9.58791L10.5879 1.0021Z"
      fill="#012063"></path>
  </svg>

  <svg
    width="11"
    height="11"
    viewBox="0 0 11 11"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="-top-3 -right-3"
  >
    <path
      d="M4.22114e-07 1.0021C2.66344e-07 0.111198 1.07714 -0.334967 1.70711 0.294998L6.18183 4.76972L10.2929 8.88081C10.9229 9.51077 10.4767 10.5879 9.58581 10.5879L1 10.5879C0.447717 10.5879 2.01987e-06 10.1402 1.92331e-06 9.58791L4.22114e-07 1.0021Z"
      fill="#012063"></path>
  </svg>

  <svg
    width="11"
    height="11"
    viewBox="0 0 11 11"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="-bottom-3 -right-3"
  >
    <path
      d="M4.22114e-07 9.58579C2.66344e-07 10.4767 1.07714 10.9229 1.70711 10.2929L6.18183 5.81817L10.2929 1.70708C10.9229 1.07712 10.4767 -2.20101e-05 9.58581 -2.21658e-05L1 -2.3667e-05C0.447717 -2.37636e-05 2.01987e-06 0.447691 1.92331e-06 0.999976L4.22114e-07 9.58579Z"
      fill="#012063"></path>
  </svg>

  <svg
    width="11"
    height="11"
    viewBox="0 0 11 11"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="-bottom-3 -left-3"
  >
    <path
      d="M10.5879 9.58578C10.5879 10.4767 9.51075 10.9229 8.88078 10.2929L4.40607 5.81816L0.294991 1.70706C-0.334971 1.0771 0.111195 -4.48982e-05 1.0021 -4.5054e-05L9.58789 -4.65552e-05C10.1402 -4.66518e-05 10.5879 0.447668 10.5879 0.999953L10.5879 9.58578Z"
      fill="#012063"></path>
  </svg>

  <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" class="relative inset-0">
    <rect
      width="100%"
      height="100%"
      fill="none"
      rx="8"
      ry="8"
      stroke="black"
      stroke-width="1"
      stroke-dasharray="14, 14"
      stroke-dashoffset="0"
      stroke-linecap="square"></rect>
  </svg>
</span>
