---
import { range } from "lodash-es";

type Props = {
  class?: string;
};
---

<section class:list={["container", Astro.props.class]}>
  <div>
    <h2 class="text-center text-lg font-medium text-gray-700">
      Được tín nhiệm bởi những doanh nghiệp tăng trưởng mạnh mẽ:
    </h2>

    <div
      class:list={[
        "carousel carousel-center max-w-full",
        "mt-8",
        "*:mx-10",
        "md:flex md:flex-wrap md:justify-center md:gap-x-17.5 md:gap-y-10",
      ]}
    >
      {
        range(4).map((idx) => (
          <div class="carousel-item w-37.5 h-16.5 bg-gray-100 rounded-2xl flex items-center justify-center">
            Brand {idx + 1}
          </div>
        ))
      }
    </div>
  </div>
</section>
