---
import { range } from "lodash-es";
import iconExport from "$/assets/export.svg?raw";
import Button from "$/components/button.astro";
---

<section class:list={["container", Astro.props.class]}>
  <div class:list={["grid gap-4", "md:grid md:grid-cols-6"]}>
    {
      range(5).map((idx) => (
        <div
          class:list={[
            `trig-fade-down enable-trig trig-target`,
            "border-linear",
            "relative",
            "bg-gray-100 rounded-2xl p-6",
            idx < 2 ? "md:col-span-3" : "md:col-span-2",
          ]}
        >
          <div class="flex items-center justify-center aspect-video bg-linear-to-t from-primary/30 to-gray-100/20 rounded-2xl">
            Image
          </div>

          <div class="mt-4 text-lg font-bold">Quản lý dịch vụ {idx}</div>

          <div class="mt-2 text-gray-700 h-15">
            Tích hợp thiết bị đo điện nước, cửa vào giúp căn hộ an ninh, minh bạch hơn & không phải mất công kiểm tra
            tận nơi.
          </div>

          <div class="flex gap-2 mt-6">
            <Button variant="solid" label="Xem demo" icon={iconExport} />
            <Button variant="text" label="Dùng thử" />
          </div>
        </div>
      ))
    }
  </div>
</section>
