---
import Counter from "$/components/counter.astro";
import FoldCorner from "$/components/fold-corner.astro";

type Props = {
  class?: string;
  items: Array<{
    id: number;
    label: string;
    value: number;
    unit: string;
  }>;
};

const { items } = Astro.props;
---

<section class:list={["container", Astro.props.class]}>
  <FoldCorner
    corners="top-bottom"
    class:list={[
      "px-6 py-12",
      "[&>div:nth-of-type(even)]:bg-primary-700",
      "[&>div:nth-of-type(even)]:w-full [&>div:nth-of-type(even)]:h-px",
      "grid gap-10",
      "md:grid-cols-[1fr_auto_1fr_auto_1fr]",
      "md:[&>div:nth-of-type(even)]:w-px md:[&>div:nth-of-type(even)]:h-full",
    ]}
  >
    {
      items.map((item, idx) => (
        <>
          {idx !== 0 && <div />}

          <div class="flex flex-col gap-2 items-center">
            <span class="text-lg">{item.label}</span>
            <Counter class="text-4xl font-semibold" value={item.value} label={item.unit} />
          </div>
        </>
      ))
    }
  </FoldCorner>
</section>
