---
import exportIcon from "$/assets/export.svg?raw";
import Button from "$/components/button.astro";
import type { Button as TButton } from "$/types/strapi.type";

type Props = {
  class?: string;
  title?: string;
  description?: string;
  button?: TButton;
};

const { title, description, button } = Astro.props;
---

<section class:list={["container", "flex-col items-center gap-6", Astro.props.class]}>
  <div
    data-aos="fade"
    class:list={[
      "flex flex-col items-center gap-3 text-center p-6 rounded-2xl border border-gray-200",
      "bg-[radial-gradient(circle_at_50%_53%,rgba(255,217,108,0.5)_0%,rgba(255,190,1,0.03)_100%)]",
    ]}
  >
    <h2 class="text-[2.25rem] font-bold leading-12 text-gray-900">{title}</h2>
    <p class="max-w-[741px] text-md font-normal leading-6 text-gray-700">
      {description}
    </p>

    {button && <Button {...button} />}
  </div>
</section>
