---
import { range } from "lodash-es";
import FoldCorner from "$/components/fold-corner.astro";

type Props = {
  class?: string;
};
---

<section class:list={["container", "flex flex-col gap-8", "md:flex-row", Astro.props.class]}>
  {
    range(3).map((idx) => (
      <div class:list={[idx % 2 ? "animate-fade-in-left" : "animate-fade-in-right", "md:animate-fade-in-up"]}>
        <span class:list={["text-lg font-bold"]}>Quản lý co-working, văn phòng</span>

        <div class:list={["text-gray-700 mt-1"]}>
          {
            "Hợp nhất dashboard làm việc cho team vận hành, tài chính, lễ tân \nHỗ trợ đa dạng hóa nguồn thu cho nhiều loại hình: Coworking, văn phòng, giảng dạy, sự kiện"
          }
        </div>

        <FoldCorner
          variant={idx % 2 ? "secondary" : "primary"}
          class:list={["aspect-392/218", "mt-3 rounded-lg overflow-hidden"]}
        />
      </div>
    ))
  }
</section>
