---
import { range } from "lodash-es";

type Props = {
  class?: string;
};

const { class: className } = Astro.props;
---

<section class:list={["container", "flex flex-col gap-8", "md:flex-row", className]}>
  {
    range(3).map((idx) => (
      <div class:list={[idx % 2 ? "animate-fade-in-left" : "animate-fade-in-right", "md:animate-fade-in-up"]}>
        <span class:list={["text-lg font-bold"]}>Quản lý co-working, văn phòng</span>

        <div class:list={["text-gray-700 mt-2"]}>
          {
            "Hợp nhất dashboard làm việc cho team vận hành, tài chính, lễ tân \nHỗ trợ đa dạng hóa nguồn thu cho nhiều loại hình: Coworking, văn phòng, giảng dạy, sự kiện"
          }
        </div>

        <div class:list={["relative", "aspect-392/218", "mt-3 rounded-lg overflow-hidden"]}>
          <svg class:list={["absolute inset-0 size-full"]} width="392" height="218" viewBox="0 0 392 218" fill="none">
            <path
              class:list={idx % 2 ? "fill-secondary" : "fill-primary"}
              d="M0 209.73C0 214.149 3.58172 217.73 8 217.73H335.676C337.804 217.73 339.844 216.883 341.345 215.375L389.669 166.841C391.162 165.342 392 163.312 392 161.196V8C392 3.58173 388.418 0 384 0H8C3.58172 0 0 3.58173 0 8V209.73Z"
            />
            <path
              class:list={idx % 2 ? "fill-primary" : "fill-secondary"}
              d="M392 215.73C392 216.835 391.104 217.73 390 217.73L356.765 217.73C354.992 217.73 354.096 215.594 355.338 214.329L372.705 196.634L388.6 181.061C389.866 179.821 392 180.718 392 182.49L392 215.73Z"
            />
          </svg>
        </div>
      </div>
    ))
  }
</section>
