@import "tailwindcss";

@plugin "@midudev/tailwind-animations";

@theme {
	--color-primary: #ffbe01;

	--color-gray-cool: #eaecf0;
	--color-gray-steel: #50575e;
	--color-slate-dusk: #475467;
	--color-midnight-abyss: #0c111d;
}
