@import "tailwindcss";

@plugin "@midudev/tailwind-animations";

@theme {
	--font-sans: "Plus Jakarta Sans", sans-serif;

	--text-xs: 0.625rem;
	--text-sm: 0.75rem;
	--text-base: 0.875rem;
	--text-md: 1rem;
	--text-lg: 1.125rem;
	--text-xl: 1.25rem;

	--color-primary: #ffbe01;
	--color-primary-200: #ffe497;

	--color-secondary: #012063;

	--color-gray-50: #f9fafb;
	--color-gray-100: #f2f4f7;
	--color-gray-200: #eaecf0;
	--color-gray-300: #d0d5dd;
	--color-gray-400: #98a2b3;
	--color-gray-500: #667085;
	--color-gray-600: #475467;
	--color-gray-700: #344054;
	--color-gray-800: #182230;
	--color-gray-900: #0c111d;
}

@layer base {
	body {
		@apply text-base;
	}
}
