/** biome-ignore-all lint/correctness/noUnknownProperty: daisyUI plugin */
@import "tailwindcss";

@plugin "@midudev/tailwind-animations";
@plugin "daisyui" {
	themes: light --default;
}

@theme {
	--font-sans: "Plus Jakarta Sans", sans-serif;

	--text-xs: 0.625rem;
	--text-sm: 0.75rem;
	--text-base: 0.875rem;
	--text-md: 1rem;
	--text-lg: 1.125rem;
	--text-xl: 1.25rem;

	--color-gray-50: #f9fafb;
	--color-gray-100: #f2f4f7;
	--color-gray-200: #eaecf0;
	--color-gray-300: #d0d5dd;
	--color-gray-400: #98a2b3;
	--color-gray-500: #667085;
	--color-gray-600: #475467;
	--color-gray-700: #344054;
	--color-gray-800: #182230;
	--color-gray-900: #0c111d;
}

@plugin "daisyui/theme" {
	name: "light";
	default: false;
	prefersdark: false;
	color-scheme: "light";

	--color-base-100: #ffffff;
	--color-base-200: #fafafa;
	--color-base-300: #f5f5f5;
	--color-base-content: #111827;

	--color-primary: #ffbe01;
	--color-primary-content: #0c111d;

	--color-secondary: #012063;
	--color-secondary-content: #ffffff;

	--color-accent: #22d3ee;
	--color-accent-content: #0e7490;

	--color-neutral: #ededed;
	--color-neutral-content: #f5f5f5;

	--color-info: #2e90fa;
	--color-info-content: #ffffff;

	--color-success: #17b26a;
	--color-success-content: #ffffff;

	--color-warning: #f79009;
	--color-warning-content: #ffffff;

	--color-error: #f04438;
	--color-error-content: #ffffff;

	--radius-selector: 0.5rem;
	--radius-field: 0.25rem;
	--radius-box: 1rem;

	--size-selector: 0.25rem;
	--size-field: 0.25rem;

	--border: 1px;
	--depth: 1;
	--noise: 0;
}
