---
import Menu from "$/components/header/menu.astro";
import Toggler from "$/components/header/toggler.astro";
import LogoText from "$/components/logo-text.astro";
---

<header class:list={["h-13 flex items-center border-b border-gray-200 px-4 justify-between sticky top-0", "md:h-20"]}>
  <div class="md:w-52">
    <LogoText height={22} />
  </div>

  <Toggler className="[&:checked~nav]:grid-rows-[minmax(0,1fr)]" />

  <Menu
    className="absolute top-full left-0 w-full grid grid-rows-[minmax(0,0fr)] overflow-hidden bg-white transition-[grid-template-rows] md:overflow-visible"
  />
</header>
