---
import { first, get } from "lodash-es";
import Button from "$/components/button.astro";
import MenuItemLevel1 from "$/components/header/menu-item-level-1.astro";
import type { HeaderResponse } from "$/types/strapi.type";
import { api } from "$/utils/client.util";

type Props = {
  className?: string;
};

const { className } = Astro.props;

const getHeaders = await api<HeaderResponse>("/headers");
const header = first(get(getHeaders, "data"));

const button = get(header, "button");
const menuItems = get(header, "menu");
---

<nav class:list={className}>
  <div class="p-4 w-full">
    {button && <Button {...button} className="w-full font-semibold mb-3" />}

    <ul>
      {menuItems?.map((item) => <MenuItemLevel1 {...item} />)}
    </ul>
  </div>
</nav>
