---
import MenuItemLevel2 from "$/components/header/menu-item-level-2.astro";
import ArrowDown from "$/components/icons/arrow-down.astro";
import type { HeaderMenuItemLevel1 } from "$/types/strapi.type";

type Props = HeaderMenuItemLevel1;

const { title, hasChild, href, children } = Astro.props;
---

{
  hasChild && (
    <li class="collapse">
      <input type="checkbox" checked class="[&:checked~.collapse-title>svg]:rotate-180" />

      <div class="collapse-title p-0 text-md font-bold flex items-center justify-between">
        <span>{title}</span>
        <ArrowDown className="transition-transform" />
      </div>

      <div class="collapse-content p-0">
        <ul class="mt-2">
          {children?.map((item) => (
            <MenuItemLevel2 {...item} />
          ))}
        </ul>
      </div>
    </li>
  )
}

{
  !hasChild && (
    <li class="text-md font-bold">
      <a href={href}>{title}</a>
    </li>
  )
}

<hr class="border-neutral my-3" />
