---
type Props = {
  as: Element;
  id?: string;
  className?: string;
};

const { as: As = Fragment, id = "toggle-checkbox", className } = Astro.props;
---

<As>
  <input id={id} type="checkbox" class="hidden" class:list={className} checked />

  <label for={id} class:list={["toggle-btn", "size-6 relative"]}>
    <div
      class:list={[
        "absolute top-1/2 left-1/2 -translate-1/2 bg-gray-steel w-5 h-0.5 rounded-full transition-all",
        "before:-translate-y-1.5",
        "after:translate-y-1.5",
      ]}
    >
    </div>
  </label>
</As>

<style>
  @reference "$/styles/global.css";

  .toggle-btn > div {
    &::before,
    &::after {
      @apply content-[''] block w-full h-0.5 bg-gray-steel rounded-full absolute inset-0 transition-all;
    }
  }

  input:checked ~ .toggle-btn {
    & > div {
      @apply bg-transparent;

      &::before,
      &::after {
        @apply translate-0;
      }

      &::before {
        @apply rotate-45;
      }

      &::after {
        @apply rotate-135;
      }
    }
  }
</style>
