---
import { first } from "lodash-es";
import SectionHero from "$/components/section-hero.astro";
import SectionSolutions from "$/components/section-solutions.astro";
import MainLayout from "$/layouts/main-layout.astro";
import type { PageResponse } from "$/types/strapi.type";
import { api } from "$/utils/client.util";

export function getStaticPaths() {
  return [{ params: { slug: "/" } }, { params: { slug: "/living" } }];
}

const { slug = "" } = Astro.params;

const page = await api<PageResponse>("/pages", {
  filters: { slug: `/${slug}` },
});

const { sections } = first(page?.data ?? []) ?? {};

const sectionComponents: Record<string, any> = {
  "section.hero": SectionHero,
  "section.solutions": SectionSolutions,
};
---

<MainLayout>
  {
    sections?.map((section) => {
      const Component = sectionComponents[section.__component];

      if (Component) return <Component {...section} />;

      return <div>{section.__component}</div>;
    })
  }
  <pre>
    <!-- <code>{JSON.stringify(page, null, 2)}</code> -->
  </pre>
</MainLayout>
