---
import Header from "$/components/header-2/header.astro";
import MainLayout from "$/layouts/main-layout.astro";
---

<MainLayout title="Playground">
  <span class="text-red-500">Hello nef</span>

  <div class="mt-20"></div>

  <Header />
</MainLayout>
