---
import Header from "$/components/header-2/header.astro";
import SectionCustomerSuccess from "$/components/section-customer-success.astro";
import MainLayout from "$/layouts/main-layout.astro";
---

<MainLayout>
  <span class="text-red-500">Hello nef</span>

  <div class="mt-20"></div>

  <Header />

  <div class="mt-10"></div>
  <SectionCustomerSuccess />
</MainLayout>
